* {
    margin: 0;
    padding: 0;
  }
  body{
      background-color: rgb(233, 233, 231);
  }
  /* 矢量图库 */
  .icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
  }
  
  /* 外面最大的盒子 */
  .big {
    width: 1425px;
    /* height: 1000px; */
    /* border: 1px solid red; */
    margin: auto;
  }
  
  /* 头部 */
  .top {
    width: 1425px;
    height: 80px;
    border-bottom: 2px solid #505050;
    background-color: white;
  }
  .top > img {
    height: 80px;
    /* border: 1px solid red; */
  }
  .top_zhongjian {
    list-style: none;
    /* text-decoration: none; */
    display: inline-block;
    
  }
  .top_zhongjian > li {
    float: left;
    width: 100px;
    height: 80px;
    text-align: center;
    line-height: 80px;
  }
  .top_zhongjian > li a {
    text-decoration: none;
    color: black;
  }
  .top_zhongjian > li:nth-child(2) > a {
    /* border: 1px solid red; */
    color: red;
  }
  .fangdajing > a {
    width: 80px;
    height: 80px;
    /* border: 1px solid red; */
    float: right;
    margin-top: -90px;
    margin-right: 200px;
    font-size: 30px;
    text-align: center;
    line-height: 80px;
    color: black;
  }
  .zhuce > a {
    width: 60px;
    height: 30px;
    /* border: 2px solid red; */
    float: right;
    margin-top: -60px;
    margin-right: 100px;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    color: black;
    color: red;
    border-radius: 5px;
    text-decoration: none;
  }
/* 导购清单部分 */
.daogou{
    height:150px;
    /* border: 1px solid red; */
    background-color: white;

}
.gouwu{
    width: 14250px;
    height:100px;
    /* border: 1px solid red; */
    line-height:100px;
    text-align: center;
    margin-left: 270px;
    font-size: 28px;
}
.zuixin1{
    display: block;
    width: 710px;
    height: 50px;
}
.zuixin1>a{
    display: block;
    width:150px;
    height: 50px;
    margin-left: 560px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: black;
  
}
.zuire{
    display: block;
    width: 710px;
    height: 50px;
}
.zuire>a{
    display: block;
    width:150px;
    height: 50px;
    color: black;
    margin-left:750px;
    margin-top: -50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}  
.pinglei{
    display: block;
    width: 710px;
    height: 50px;
}
.pinglei>a{
    display: block;
    width:150px;
    height: 50px;
    color: black;
    margin-left:900px;
    margin-top: -50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: red;
    border-bottom: 3px solid rgb(221, 15, 15);
}  

/* 生活部份 */
.zhongjian1{
    width:1425px;
    /* border: 1px solid rgb(221, 15, 15); */
    background-color: white;
    margin-top: 20px;
    border-radius: 15px;

}
.shenghuo{
    color:black;
    height:40px;
}
.shenghuo>span{
    color:red;
    padding-right:10px
    
}
.alicon{
    margin-left:80px;
    float: left;

    
}
.alicon:nth-of-type(1){
    margin-left:10px;
}
.alicon>span{
    width:120px;
    height:10px;
    display:block;
    margin-top: 15px;
}
.alicon:nth-of-type(8){
    margin-left:10px;
    margin-top: 20px;
}
.alicon:nth-of-type(9){
    margin-top: 20px;
}
.TVw{
    width: 1425px;
    height:100px;
    border-top: 1px dashed #7a1d1d;
    margin-top: 300px;

}
.TV1{
    width: 230px;
    height: 100px;
    /* border: 1px solid red; */
    text-align: center;
    float: left;
    margin-left:-50px;


}
.TV1>p{
    margin-top:10px;
}
/* 底部 */
.bottom {
    margin-top:10px;
  width: 1425px;
  height: 360px;
  /* border: 1px solid red; */
  background-color: #505050;
}
/* <!-- 二维码 --> */
.bottom_left {
  width: 390px;
  height: 280px;
  /* border: 1px solid red; */
  margin-left: 200px;
  padding-top:40px 
}

.logo {
  width: 200px;
  height: 180px;
  /* border: 1px solid red; */
  margin-left: 190px;
  margin-top: -180px;
}
.logo > span {
  display: inline-block;
  width: 200px;
  height: 90px;
  /* border: 1px solid red; */
  color: #ccd0cf;
  font-size: 12px;
}
/* 底部右边 */
.bottom_right {
  width: 1035px;
  height: 180px;
  /* border: 1px solid red; */
  margin-top: -280px;
  margin-left: 390px;
}
/* <!-- 免费试用 --> */
.shiyong {
  width: 180px;
  height: 180px;
  /* border: 1px solid red; */
  color: white;
  margin-left: 180px;
}
.shiyong > dd a {
  display: inline-block;
  text-decoration: none;
  color: #ccd0cf;
  margin-top: 20px;
  font-size: 12px;
}
/* <!-- 友情链接 --> */
.youqing {
  width: 180px;
  /* height: 180px; */
  /* border: 1px solid red; */
  color: white;
  margin-left: 360px;
  margin-top: -180px;
}
.youqing > dd {
  display: block;
  color: #ccd0cf;
  margin-top: 20px;
  font-size: 12px;
}
.aa {
  font-size: 12px;

  display: block;
  color: #ccd0cf;
  margin-left: 80px;
  margin-top: -20px;
}
/* <!-- 购买攻略 --> */
.goumai {
  width: 180px;
  color: white;
  margin-left: 600px;
  margin-top: -280px;
}
.goumai > dd {
  display: block;
  color: #ccd0cf;
  margin-top: 15px;
  font-size: 12px;
}
/* <!-- 厂商合作 --> */
.changshang {
    width: 180px;
    color: white;
    margin-top: -145px;
    margin-left: 750px;
  }
  .changshang > dd {
    display: block;
    color: #ccd0cf;
    margin-top: 15px;
    font-size: 12px;
  }