* {
    margin: 0;
    padding: 0;
  }
  body{
      background-color: rgb(233, 233, 231);
  }
  /* 矢量图库 */
  .icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
  }
  
  /* 外面最大的盒子 */
  .big {
    width: 1425px;
    background-color:white;
    /* height: 1000px; */
    /* border: 1px solid red; */
    margin: auto;
  }
  
  /* 头部 */
  .top {
    width: 1425px;
    height: 80px;
    border-bottom: 2px solid #505050;
    background-color: white;
  }
  .top > img {
    height: 80px;
    /* border: 1px solid red; */
  }
  .top_zhongjian {
    list-style: none;
    /* text-decoration: none; */
    display: inline-block;
    
  }
  .top_zhongjian > li {
    float: left;
    width: 100px;
    height: 80px;
    text-align: center;
    line-height: 80px;
  }
  .top_zhongjian > li a {
    text-decoration: none;
    color: black;
  }
  .top_zhongjian > li:nth-child(2) > a {
    /* border: 1px solid red; */
    /* color: red; */
  }
  .fangdajing > a {
    width: 80px;
    height: 80px;
    /* border: 1px solid red; */
    float: right;
    margin-top: -90px;
    margin-right: 200px;
    font-size: 30px;
    text-align: center;
    line-height: 80px;
    color: black;
  }
  .zhuce > a {
    width: 60px;
    height: 30px;
    /* border: 2px solid red; */
    float: right;
    margin-top: -60px;
    margin-right: 100px;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    color: black;
    color: red;
    border-radius: 5px;
    text-decoration: none;
  }

  .top_shouye{
    width:1425px;
    height: 50px;
    /* border: 1px solid red; */
    background-color:#f7f7f7;
}
.top_shouye>p{
    display: inline-block;
    color: #a1a4a3;
    margin-top: 28px;
}
.zhongjian{
    width:1425px;
    /* height: 10000px; */
    /* border: 1px solid red; */
    background-color:white;
    position: relative;
}
.zhongjian_left{
    width: 70%;
    top: 0;
    left: 0;
    /* border: 1px solid red; */
    position: absolute;
    float: left;

}
.zhongjian_top{
    height: 140px;
    
    border-bottom: 1px solid rgb(209, 198, 198);
}
.zhongjian_top>h1{
    width: 1000px;
    height:70px;
    /* border: 1px solid red; */
    line-height: 70px;
    margin-left: 12px;
}
.name{
   width: 100%;
   height: 70px;
   /* border: 1px solid red; */
}
.name>p:nth-of-type(1){
   display: inline-block;
   margin-left:20px;
   margin-top: 20px;
}
.name>p:nth-of-type(2){
  display: inline-block;

  margin-left:800px;
}
.zhongjian_right{
  position: absolute;
  left: 1100px;
  width: 20%;
  height: 140px;
  /* border: 1px solid red; */
  box-sizing: border-box;
}
.right_left{
  width: 50%;
  height:140px;
  border: 1px solid rgb(209, 198, 198);
  
  text-align: center;
  line-height:140px;
  font-size:20px; 
}
.right_right {
  width: 50%;
  height:140px;
  border: 1px solid rgb(209, 198, 198);
  text-align: center;
  line-height:140px;
  font-size:20px; 
  margin-top: -142px;
  margin-left:145px
}
.gaogbi{
    width: 1100px;
    height:50px;
    /* border: 1px solid red; */
    font-size: 20px;
    margin-left: 12px;
}
.datail{
    padding-top:-15px;
    margin-left:150px;
}
.xuancai>h3{
    text-align: center;
    margin-left: 12px;
}
.xuancai>P{
    font-size: 20px;
    
}


  .bottom {
  margin-top:2900px;
  width: 1425px;
  height: 360px;
  /* border: 1px solid red; */
  background-color: #505050;
}
/* <!-- 二维码 --> */
.bottom_left {
  width: 390px;
  height: 280px;
  /* border: 1px solid red; */
  margin-left: 200px;
  padding-top:40px 
}

.logo {
  width: 200px;
  height: 180px;
  /* border: 1px solid red; */
  margin-left: 190px;
  margin-top: -180px;
}
.logo > span {
  display: inline-block;
  width: 200px;
  height: 90px;
  /* border: 1px solid red; */
  color: #ccd0cf;
  font-size: 12px;
}
/* 底部右边 */
.bottom_right {
  width: 1035px;
  height: 180px;
  /* border: 1px solid red; */
  margin-top: -280px;
  margin-left: 390px;
}
/* <!-- 免费试用 --> */
.shiyong {
  width: 180px;
  height: 180px;
  /* border: 1px solid red; */
  color: white;
  margin-left: 180px;
}
.shiyong > dd a {
  display: inline-block;
  text-decoration: none;
  color: #ccd0cf;
  margin-top: 20px;
  font-size: 12px;
}
/* <!-- 友情链接 --> */
.youqing {
  width: 180px;
  /* height: 180px; */
  /* border: 1px solid red; */
  color: white;
  margin-left: 360px;
  margin-top: -180px;
}
.youqing > dd {
  display: block;
  color: #ccd0cf;
  margin-top: 20px;
  font-size: 12px;
}
.aa {
  font-size: 12px;

  display: block;
  color: #ccd0cf;
  margin-left: 80px;
  margin-top: -20px;
}
/* <!-- 购买攻略 --> */
.goumai {
  width: 180px;
  color: white;
  margin-left: 600px;
  margin-top: -280px;
}
.goumai > dd {
  display: block;
  color: #ccd0cf;
  margin-top: 15px;
  font-size: 12px;
}
/* <!-- 厂商合作 --> */
.changshang {
    width: 180px;
    color: white;
    margin-top: -145px;
    margin-left: 750px;
  }
  .changshang > dd {
    display: block;
    color: #ccd0cf;
    margin-top: 15px;
    font-size: 12px;
  }


 
